body {
    max-width: 800px;
    padding-left: 10px;
    margin: 0 auto;
    
    transition: opacity 1s, visibility 0s ease 1s;
    opacity: 0;
    visibility: hidden;
}

body.is-show {
    transition-delay: 0.5s;
    opacity: 1;
    visibility: visible;
}